$charcoal: #335368;
$teal-blue: #176c82;
$blue-green: #94eae4;
$indigo: #2a4d6d;
$rich-black: #001b23;
$gray: #cacaca;

// zelda theme
$zelda-gray: #494b4b;
$zelda-dark-green: #0e5135;
$zelda-green: #0d9263;
$zelda-teal: #4aba91;
$zelda-gold: #d4ce46;